@model List<PHOTOLIO.ViewModel.CategoryVM>
@{
    ViewBag.Title = "Product Entry (Admin)";
}
@{
    var currentUser = (PHOTOLIO.ViewModel.UserVM)Session["CurrentUser"];

}

    <body>

        <section class="editsection">
            <div class="container" style="margin-top:100px;">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="dotted9 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s" style="margin-bottom:50px;"></div>
                        <div class="special">
                            <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s" style="margin-bottom:50px;">Product Adding Form</h2>
                            <div class="dotted10 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s" style="margin-bottom:50px;"></div>
                        </div>
                    </div>
                    <div class="row-md-12" style="margin-bottom:30px;">
                        <div class="box box-success">
                            <!-- form start -->
                            <form class="form-horizontal" id="frmProduct" enctype="multipart/form-data">
                                <input type="hidden" id="hiUserId" value="@currentUser.Id">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="selImage" class="col-sm-2 control-label">Photo</label>
                                        <div class="col-sm-10">
                                            <div class="col-sm-10">
                                                <img id="imgPrev" src="~/wwwroot/dist/images/PhotolioLogo Circle.jpg" class="ST-circle" style="margin-left:auto; width:120px; height:120px; padding:2px;" /><br />
                                            </div>
                                            <input style="float:left; margin-top:10px;" type="file" id="selImage" name="selImage" accept="image/*" onchange="ShowPreview(this)" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtName" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtDescription" class="col-sm-2 control-label">Descriptions</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtDescription" name="txtDescription" placeholder="Descriptions">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtPrice" class="col-sm-2 control-label">Location</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtPrice" name="txtPrice" placeholder="Location">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="selCategory" class="col-sm-2 control-label">Category</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="selCategory" name="selCategory">
                                                <option value="">Select Category</option>
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="pull-right">
                                        <button type="button" class="ST-button ST-round ST-green" onclick="save()">Save</button>
                                        <button type="button" class="ST-button ST-round ST-red " onclick="window.location = '/Product/List'">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="modal" id="divSuccess" style="margin-top:80px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <img src="~/wwwroot/dist/images/PhotolioCircleicon.ico" style="width:50px;height:50px" />
                            <h4 class="modal-title">Add Product</h4>
                        </center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="sMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="ST-button ST-round ST-blue" data-dismiss="modal" onclick="window.location = '/Product/List'">OK</button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        @*<div class="modal" id="divFailure" style="margin-top:80px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ST-red">
                        <center>
                            <img src="~/wwwroot/dist/images/PhotolioCircleicon.ico" style="width:50px;height:50px" />
                            <h4 class="modal-title">Add Product</h4>
                        </center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="fMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="ST-button ST-round ST-blue" data-dismiss="modal">OK</button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>*@

        @section scripts{
            <script src="~/wwwroot/mine/js/Product.js"></script>
            <script>
                setValidationRule();
            </script>
        }

    </body>
