
@{
    ViewBag.Title = "About Us";
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/Team.css" />
<html>
@*<head>
    <meta charset="utf-8">



    <!--MOBILE DEVICE-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/Team.css" />

    <link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/responsive.css" />

    <!--JS-->

    <script type="text/javascript" src="~/wwwroot/dist/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/dist/js/modernizr.js"></script>
    <script src="~/wwwroot/dist/js/scripts.js"></script>
    <script src="~/wwwroot/dist/js/waypoints.min.js"></script>
    <script src="~/wwwroot/mine/js/LogIn.js"></script>
</head>*@
<body>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="0.50s" style="margin-bottom:50px;"></div>
            <div class="special">
                <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s" style="margin-bottom:50px;">ALL ABOUT PHOTOLIO</h2>
                <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="0.50s" style="margin-bottom:50px;"></div>
            </div>
        </div>
        <p class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
           I create this website for all photographers. I used C# ASP.Net MVC form with ajax and bootstrap for responsive.
        </p>
    </div>
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s" style="margin-bottom:50px;"></div>
            <div class="special">
                <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s" style="margin-bottom:50px;">Meet Our Team</h2>
                <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s" style="margin-bottom:50px;"></div>
            </div>
        </div>

        <div class="row">
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="https://www.facebook.com/SiThuHtetAung.AJ">
                                <img src="~/wwwroot/dist/images/10.jpeg" alt="Si Thu Htet Aung" style="width:100%;">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Si Thu Htet Aung</h2>
                            <p class="t">CEO, CTO, UI Designer, Web Developer.</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>nyinyi638@gmail.com</p>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.2s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="https://www.facebook.com/singnan.munghtun">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Blah Blah</h2>
                            <p class="t">Project Leader</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>example@example.com</p>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.4s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="https://www.facebook.com/profile.php?id=100004275344742">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Ms. Blah Blah</h2>
                            <p class="t">Member</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>example@example.com</p>

                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.6s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="https://www.facebook.com/profile.php?id=100009201758262">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Blah Blah</h2>
                            <p class="t">Member</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>example@example.com</p>

                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.8s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="https://www.facebook.com/phoe.nge.14">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2 >Mr. Blah Blah</h2>
                            <p class="t">Member</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>example@example.com</p>
                        </div>
                    </div>
                </div>
            </figure>

        </div>

    </div>
</body>
</html>

